<h1>Venner</h1>

<table>
  <tr>
    <th>Navn</th>
    <th>efternavn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brugers.each do |bruger| %>
  <tr>
    <td><%= bruger.navn %></td>
    <td><%= bruger.efternavn %></td>
    <td><%= link_to 'Show', bruger %></td>
    <td><%= link_to 'Edit', edit_bruger_path(bruger) %></td>
    <td><%= link_to 'Destroy', bruger, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Begivenheder', new_begivenhed_path %>