<p id="notice"><%= notice %></p>
<div title="Half and half" class="row show-grid">
    <div class="span8">
        <table>
          <tr>
            <th>Mine begivenheder</th>
          </tr>

        <% @begivenheds.each do |begivenhed| %>
          <tr>
            <td><%= link_to begivenhed.begivenhed, edit_begivenhed_path(begivenhed) %></td>
          </tr>
        <% end %>
        </table>
        <%= link_to 'ny begivenhed', new_begivenhed_path %>
    </div>

    <div class="span8">
      <table>
          <tr>
            <th>Bruger</th>
            <th>Begivenhed</th>
          </tr>

          <% @all_begivenheds.each do |begivenhed| %>
              <% if begivenhed.bruger_id != @bruger_id  %>
                    <tr>
                     <td><%= link_to begivenhed.begivenhed, edit_begivenhed_path(begivenhed) %></td>
                    </tr>
              <% end %>

<<<<<<< HEAD
          <% end %>
=======
            <% if begivenhed.bruger_id != @bruger_id  %>
               <tr>
                <td><%= @anden_bruger.navn %> </td>
                <td><%= link_to begivenhed.begivenhed, onskes_path(:ven_id => begivenhed.bruger_id,
                                                                   :beg_id => begivenhed.id) %></td>
               </tr>
           <% end %>
        <% end %>
>>>>>>> 3af9e383550f3a8eab04a07300e149b1971fc3d7
        </table>
    <!-- <%# link_to 'venner', brugers_path(:id => @bruger.id)  %> -->
    </div>
</div>

