<p id="notice"><%= notice %></p>
<div title="Half and half" class="row show-grid">
    <div class="span8">
        <table>
          <tr>
            <th>Mine begivenheder</th>
          </tr>

        <% @begivenheds.each do |begivenhed| %>
          <tr>
            <td><%= link_to begivenhed.begivenhed, edit_begivenhed_path(begivenhed) %></td>
          </tr>
        <% end %>
        </table>
        <%= link_to 'ny begivenhed', new_begivenhed_path(:id => @bruger.id) %>
    </div>

    <div class="span8">
      <table>
          <tr>
            <th>Bruger</th>
            <th>Begivenhed</th>
          </tr>

        <% @all_begivenheds.each do |begivenhed| %>
            <% @anden_bruger = Bruger.find(begivenhed.bruger_id) %>

            <% if begivenhed.bruger_id != @bruger_id  %>
               <tr>
                <td><%= @anden_bruger.navn %> </td>
                <td><%= link_to begivenhed.begivenhed, onskes_path(:id => @bruger.id,
                                                                   :ven_id => begivenhed.bruger_id,
                                                                   :beg_id => begivenhed.id) %></td>
               </tr>
           <% end %>
        <% end %>
        </table>
    <%= link_to 'venner', brugers_path(:id => @bruger.id)  %>
    </div>
</div>

