<p id="notice"><%= notice %></p>
<div title="Half and half" class="row show-grid">
    <div class="span8">
        <table>
          <tr>
            <th>Mine begivenheder</th>
          </tr>

        <% @begivenheds.each do |begivenhed| %>
          <tr>
            <td><%= link_to begivenhed.begivenhed, onskes_path(:beg_id => begivenhed.id, :ven_id => begivenhed.bruger_id) %></td>
          </tr>
        <% end %>
        </table>
        <%= link_to 'ny begivenhed', new_begivenhed_path %>
    </div>

    <div class="span8">
      <table>
          <tr>
            <th>Bruger</th>
            <th>Begivenhed</th>
          </tr>

          <% @all_begivenheds.each do |begivenhed| %>
              <% @ven = Bruger.find_by_id(begivenhed.bruger_id) %>
              <% if begivenhed.bruger_id.to_i != @bruger_id.to_i  %>
                    <tr>
                        <td><%= @ven.navn %></td>
                        <td><%= link_to begivenhed.begivenhed, onskes_path(:ven_id => begivenhed.bruger_id,
                                                                           :beg_id => begivenhed.id) %></td>
                    </tr>
              <% end %>
          <% end %>
        </table>
    <%= link_to 'venner', brugers_path(:id => @bruger.id)  %>
    </div>
   </div>

